* {
    box-sizing: border-box;
}

#nav-bar {
    font-family: "Bebas Neue", serif;
    position: sticky;
    top: 0;
    z-index: 10;
}

body {
    font-family: "Poppins", serif;
    height: 200vh;
}

.navbar {
    background-image: linear-gradient(to right, #00d4ff, #4b36a1);
    padding: 0;
    /* border-bottom: 2px solid white; */
}

.navbar-nav li {
    padding: 0 15px;
    transition: border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}

.navbar-nav li:hover {
    padding: 0 15px;
    border-bottom: 2px solid white;
    transition: border-bottom 0.3s ease;
}

.navbar-nav li a {
    color: #fff;
    font-size: larger;
    letter-spacing: 1.5px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Banner section */

#banner {
    background-image: linear-gradient(to right, #00d4ff, #4b36a1);
    color: #fff;
    padding-top: 5%;
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
    font-family: "Bebas Neue", serif;
}

.bottom-img {
    width: 100%;
}

/* Services */

#services {
    padding: 80px 0;
}

.service-img {
    width: 200px;
    margin-top: 20px;
}

.services {
    padding: 20px;
}

/* About us */

.title::before {
    content: '';
    background-color: #4b36a1;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

#about-us {
    background-color: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
    /* margin: 50px 0px; */
}

.about-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

.about-us ul li {
    margin: 10px 0;
}

.about-us ul {
    margin-left: 20px;
}

.footer {
    font-family: "Poppins", serif;
    background-image: linear-gradient(to right, #00d4ff, #4b36a1);
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer h6 a {
    cursor: pointer;
}

.footer a:hover{
    text-decoration: none;
    color: black;
}

.product-card {
    margin: 10px 10px;
}

.construction {
    text-align: center;
    font-weight: 600;
    font-family: "Poppins", serif;
    font-size: 48px;
    justify-content: center;
}

.construction-page {
    background-color: lavender
    ;
}